@{
		Layout = null;
}

<!DOCTYPE html>
<html>
<head>
		<title>Error</title>
</head>
<body>
	<h2>An unexpected error has occurred</h2>
	<p>Please see the application log, or notify support personnel.</p>
</body>
</html>