<?xml version="1.0"?>
<!--
Copyright (C) 2012 Bellevue College

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Lesser General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License and GNU General Public License along with this program.
If not, see <http://www.gnu.org/licenses/>.
-->
<!--
  TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then configure the appropriate Role Provider.
  
  The example included below uses the ActiveDirectoryRoleProvider from the CtcApi:
  https://github.com/BellevueCollege/CtcApi
  
-->
<roleManager enabled="true" defaultProvider="ActiveDirectory">
  <providers>
    <clear />
    <!-- Uncomment this block for standard Forms Authentication
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
        -->
    <!-- The following AD role provider is provided by the CtcApi for use when using Forms authentication.
        TODO: provide a domain and connectionString
        If you are using Windows authentication, you shouldn't need this as AD group membership will be provided transparently
    -->
    <add name="ActiveDirectory" type="CtcApi.Web.Security.ActiveDirectoryRoleProvider" domain="" groupMode="" connectionString="" />
  </providers>
</roleManager>
