<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString=""/>
	</connectionStrings>
  <appSettings>
    <add key="SftpDestinationPath" value=""/>
    <add key="SftpHostname" value=""/>
    <add key="SftpLogin" value=""/>
    <add key="MaxientSftpKeyFile" value=""/>
    <add key="MaxientSftpHostname" value=""/>
    <add key="MaxientSftpDestinationPathAndFile" value=""/>
    <add key="MaxientSftpLogin" value=""/>
  </appSettings>
</configuration>