<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- FooConfigHandler is currently a research experiment -->
    <section name="foo" type="Test.DataExport.WS.FooConfigHandler, Test.DataExport.WS" />
    <section name="dataExport" type="DataExport.WS.Config.DataExportConfigHandler, DataExport.WebService" />
  </configSections>
  <connectionStrings configSource="_configSource\ConnectionStrings.config"/>
  <appSettings configSource="_configSource\AppSettings.config" />
  <dataExport configSource="_configSource\DataExport.config"/>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>