<?xml version="1.0"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
	<connectionStrings>
		<add name="Default"
				 connectionString="data source=PRUSSIK\ODSDATA;initial catalog=DataExport;integrated security=True;"
				 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
	<system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
	<elmah>
		<security allowRemoteAccess="true"
							xdt:Transform="SetAttributes"/>
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.Sql" applicationName="DataExport"
							xdt:Transform="Replace"/>
	</elmah>
	<applicationSettings>
		<DataExport.Web.Properties.Settings>
			<setting name="AllowFileDownload" serializeAs="String" xdt:Transform="Replace" xdt:Locator="Match(name)">
				<value>False</value>
			</setting>
		</DataExport.Web.Properties.Settings>
	</applicationSettings>
	<casClientConfig serverName="https://in.bellevuecollege.edu/ws/dataexport"
									 xdt:Transform="SetAttributes" />
</configuration>