<?xml version="1.0" encoding="utf-8" ?>
<!--
    TODO: Make a copy of this file w/o the 'EXAMPLE-' prefix, then fill in the configuration settings appropriate to your organization/environment
 -->
<applicationSettings>
  <Test.DataExport.WS.Properties.Settings>
    <setting name="SftpDestinationPath" serializeAs="String">
      <value></value>
    </setting>
    <setting name="SftpHostname" serializeAs="String">
      <value></value>
    </setting>
    <setting name="SftpLogin" serializeAs="String">
      <value></value>
    </setting>
    <setting name="MaxientSftpKeyFile" serializeAs="String">
      <value></value>
    </setting>
    <setting name="MaxientSftpHostname" serializeAs="String">
      <value></value>
    </setting>
    <setting name="MaxientSftpDestinationPathAndFile" serializeAs="String">
      <value></value>
    </setting>
    <setting name="MaxientSftpLogin" serializeAs="String">
      <value></value>
    </setting>
  </Test.DataExport.WS.Properties.Settings>
</applicationSettings>
